* {
  padding: 0;
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

body {
  display: grid;
  place-items: center;

  background-image: url(./images/bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin: auto;
}

.app {
  background-color: #fbf0ec;
  margin: 2em auto;
  padding: 2em;
}

h1 {
  font-size: 2rem;
  font-family: cursive;
  color: #e24174;
}

form {
  padding: 1.5em;
  background-color: #fbf0ec;
}

input {
  padding: 1.5em 3em;
  border: none;
  background-color: #efefef;
  border-bottom: 0.1em solid #fcb6cc;
  border-right: 0.1em solid #fcb6cc;
}

form button {
  padding: 1.5em 2em;
  border: 1px solid transparent;
  color: #fcb6cc;
  transition: background 0.5s;
  font-weight: bold;
}

form button:hover {
  color: #fff;
  background: #fcb6cc;
  border-right: 1px solid #fcb6cc;
}

.my-list {
  margin-top: 2em;
  margin: auto;
  line-height: 2em;
  min-height: 20em;
}

ul li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  text-transform: uppercase;
}

.clear-all {
  padding: 1em;
  color: #fff;
  background-color: #e7b7c6;
  border: 0;
  transition: background 0.5s;
  font-weight: bold;
  width: 50%;
  margin: auto;
}

.clear-all:hover {
  background-color: #f5789f;
}

.complete,
.remove {
  padding: 0.1em;
  margin: 0 0.2em 0 0.4em;
  border: none;
  font-size: 2em;
  cursor: pointer;
  background-color: transparent;
}

.complete {
  color: rgb(15, 199, 15);
}

.remove {
  color: rgb(240, 37, 37);
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

.item-completed {
  color: rgb(14, 223, 14);
  text-decoration: line-through;
}
